<!DOCTYPE html>
<html lang=en>
<head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width,initial-scale=1">
    <link rel=icon href=/favicon.ico>
    <title>bubble清单</title>
    <link href=/static/css/style.css rel=preload as=style>
    <link href=/static/css/vue.css rel=preload as=style>
    <link href=/static/js/index.js rel=preload as=script>
    <link href=/static/js/vue.js rel=preload as=script>
    <link href=/static/css/style.css rel=stylesheet>
    <link href=/static/css/vue.css rel=stylesheet>
</head>
<body>
<div id=app></div>
<script src=/static/js/vue.js></script>
<script src=/static/js/index.js></script>
</body>
</html>

